#parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 50px 500px;
    border: 1px solid black;

}

.row {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 1px solid black;
}

.column {
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

#top {
    display: flex;
    justify-content: center;
}

button {
    font-size: 24px;
}